<form action="/login" method="post">
  user id <input name="userId" placeholder="your user id"/><br />
  password <input type="password" name="password" placeholder="your password"/><br />
  <button type="submit">login</button>
</form>
<div>
  <button>tw</button>
</div>

<% if (typeof error !== 'undefined') { %>
  <div>something went wrong...</div>
<% } %>
